Repository Hold-Krykke/PythonExam, pull requests merged in 2020-05, with the labels that each got.

#7 WebScraping
  .gitignore
  modules/web_scraper.py
  tweets/trump
  tweets/trump_biden
Labels: Web Scraping

#8 Preprocessing
  .gitignore
  app.py
  modules/Preprocessing.py
  setup.ipynb
Labels: Preprocessing

#9 Sentiment Analysis
  .gitignore
  .vscode/settings.json
  modules/Sentiment_Analysis/Sentiment_Analysis.py
  modules/Sentiment_Analysis/__pycache__/ala_Runi_tweets.cpython-37.pyc
  modules/Sentiment_Analysis/__pycache__/ala_scraped.cpython-37.pyc
  modules/Sentiment_Analysis/first_module.py
Labels: Sentiment Analysis

#6 Presentation
  .env
  .gitignore
  __init__.py
  modules/__init__.py
  modules/presentation.py
Labels: Presentation

#10 Sentiment Analysis can now be called from app.py
  app.py
  modules/Sentiment_Analysis.py
  modules/Sentiment_Analysis/__pycache__/ala_Runi_tweets.cpython-37.pyc
  modules/Sentiment_Analysis/__pycache__/ala_scraped.cpython-37.pyc
  modules/Sentiment_Analysis/first_module.py
  modules/__pycache__/Preprocessing.cpython-37.pyc
Labels: BUG, Sentiment Analysis

#17 Improvement to SA
  README.md
  modules/Sentiment_Analysis.py
  modules/__pycache__/Preprocessing.cpython-37.pyc
Labels: BUG, Sentiment Analysis

#19 Second version of Improvements to SA
  modules/Sentiment_Analysis.py
Labels: Sentiment Analysis

#21 Fixes #18
  modules/presentation.py
Labels: BUG

#23 Plotting settings - Y starts at Zero
  modules/presentation.py
Labels: Presentation

#13 Flask Service
  modules/Preprocessing.py
  modules/Sentiment_Analysis.py
  modules/__pycache__/Preprocessing.cpython-37.pyc
  modules/flask_service.py
  modules/plots/@JoeBiden.png
  modules/plots/trump.png
  modules/plots/trump_biden.png
  modules/presentation.py
  modules/web_scraper.py
  tweets/trump
  tweets/trump_biden
Labels: Deployment/Flask

#11 Preprocessing followup
  modules/Preprocessing.py
Labels: Preprocessing

#25 [BUG] Fix formatting on hashtags, mentions
  modules/Preprocessing.py
Labels: Preprocessing

#27 [BUG] Fix relative links for saving tweets
  modules/web_scraper.py
Labels: BUG

#20 CLI & Argparse
  app.py
  modules/Preprocessing.py
  modules/Sentiment_Analysis.py
  modules/flask_service.py
  modules/presentation.py
  modules/web_scraper.py
Labels: Deployment/Flask

#29 Update ReadMe with Flask guide
  README.md
Labels: Deployment/Flask
